.portfolio {
    font-family: 'Roboto', sans-serif;
}

.portfolio__section {
    margin: 1rem 0;
    border-top: 1px solid #535c68;
}




.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.font-bold {
    font-weight: bold;
}

.color--positive {
    color: #1dd1a1;
}

.color--negative {
    color: #ee5253;
}