.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.font-bold {
    font-weight: bold;
}

.color--positive {
    color: #1dd1a1;
}

.color--negative {
    color: #ee5253;
}

.color--neutral {
    color: #fbc531;
}